<!DOCTYPE html>
<html>
<head>
    <title>modulos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  <h1>Lista de modulos de esta aplicación</h1>

  <% modulos.forEach(function(modulo) { %>
    <p style="color: <%= modulo.version[0] === '0' ? 'red' : 'black' %>;"><%= modulo.modulo %> - <%= modulo.version %></p>
  <% }) %>

</body>
</html>